<div class="d-flex flex-column align-items-center">
  <h2>Workout</h2>
  <div class="d-flex flex-column align-items-center">
    <div class="mb-3">
      <label for="workout-name" class="form-label">Workout name</label>
      <input
        type="text"
        class="form-control"
        id="workout-name"
        placeholder="enter workout name here"
      />
    </div>
  </div>

  <div class="d-flex flex-column align-items-center">
    <h4>Excercises</h4>
    <div class="d-flex flex-row align-items-center">
      <div class="btn btn-secondary mr-25" (click)="addExcercises()">
        Add Excercise
      </div>
      <div class="btn btn-secondary">Save Workout</div>
    </div>
  </div>
</div>
